

#yellow{
  background: yellow;
	border-style:solid;
	border-color:greeen;
  border: 1px;
}

#red{
  background: red;
	border-style:solid;
	border-color:black;
  border: 1px;
}

#green{
  background: green;
	border-style:solid;
	border-color:yellow;
  border: 1px;
}

